{% extends 'layout.html' %}

{% block main %}
<h2>12 rules for life: 人生の１２のルール<h2>
<small>著者名：JORDAN B PETERSON</small>

<h3>目次紹介：</h3>
<ul>
<li>ルール１：まっすぐ立って胸を張れ</li>
<li>ルール２：助ける責任がある人として自分自身を扱え</li>
<li>ルール３：あなたが最高であることを望む人たちと友達になれ</li>
<li>ルール４：他の誰かとではなく、昨日の自分自身と比較しろ</li>
<li>ルール５：あなたが子どもたちを嫌いになるようなことは決して子供たちにさせるな</li>
<li>ルール６：世界を批判する前に自分の家を完璧に作り上げろ</li>
<li>ルール７：意味のあることを追い求めろ（便利なことではなく）</li>
<li>ルール８：真実を話せ。少なくともウソはダメだ</li>
<li>ルール９：あなたの話を聴いているひとは、あなたの知らない何かを知っているかもしれないと思ったほうがいい</li>
<li>ルール１０：話は正確に</li>
<li>ルール１１：子どもたちがスケボーしてるときは邪魔したらあかん</li>
<li>ルール１２：街で猫に出会ったらポンと撫でてやれ</li>
</ul>
<br>
<h3>Jordan B Peterson を紹介する</h3>
<p>
arekore
</p>
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-5RCmu-HuTg" allowfullscreen></iframe>
</div>
{% endblock %}