{% extends 'layout.html' %}

{% block main %}
<h2>She Comes First: 考える男性のための女性を快楽に導くガイド<h2>
<small>著者名：IAN KERNER</small>

<h3>目次紹介：</h3>

<h3>イントロダクション：とある早漏野郎の告白</h3>

この本の前提はシンプルだ。女性に気持ち良くなってもらう、つまり愛という言語でのやり取りに関していうならば、クンニは全ての男が知っておくべき共通の母国語だということである。セックスに関するベストセラー作家のルー・パゲットはこう言った。「女性に尋ねてみて。もし彼女たちが正直なら、セックスで一番アツくなってぶっ飛べるのは男が舌を上手に使っているときだということをほとんどの女性が認めるだろう。」

しかし全ての言語と同様に、自分自身を相手に流暢に表現するためには、あなたは徹底的にその言語の文法やスタイルの規則について詳しくないといけない。文法に関するわたしの最もお気に入りの本のひとつは、古典的名著 ”Elements of Style” である。（訳者注：文章の書き方に関する本。）その薄っぺらいペーパーバックを後ろのポケットに隠し持つことをしていなかったら、わたしは大学1年のときの英語コンペをうまくやり遂げることも、英語専攻として大学を卒業することもできなかっただろう。この本の著者たちの手によって、”文法”というのはただただ理解できるもの、意味のあるものになっただけではなく、美しいものになってしまった。

“Elements of Style”は「大胆に書いて、明確に主張をしろ」と読者に強く語りかけている。そしてこの古典的名著の哲学をもとに、拙著 ”She Comes First” は、経験や技能の蓄積をギュッと凝縮した、シンプルで本質的なルールブックとして仕上げようと思っている。本書ではそれらのルールの下に横たわっている原理や哲学を念入りに議論する。そうすることで、本書はまさにクンニの決定的なガイドブックになるだろう。もしあなたが、毎回自らの舌を使って女性の頭をぶっ飛ばし身体を波立たせるようなオールがズムを導きたいなら、この本こそがあなたが求めているものである。

わたしは臨床性科学のPh.Dを持ってはいるが、本書は原則的には実践者の観点から書いている。つまり、クンニを知りクンニを愛する者、女性の性的な反応を刺激するというクンニのもつ役割を正しく理解し、首尾一貫して女性をオーガズムに導くための方法論を開発してきた者としてこれを書いている。その方法論というのは、クンニっていうのはただの性的な活動をはるかに超えたもので、むしろ性的充足感に関する哲学の中心を占めるという確信に由来している。この哲学のことをこれから「the Way of Tougue：クンニ道」 とよぶことにしよう。

しかし勘違いしないでくれ。わたしはカサノヴァやドンファンじゃない。彼らのように自慢したりもったいぶるために、いたずらに紙に言葉を連ねるようなことはしない。むしろそれとは真逆である。これまでの人生を通じて、わたしはセックスがうまくいかないことにひどく苦しんできた。そして女性を満足させることができない恥辱や不安、絶望というものをとてもよくわかっている。どちらかといえば、この本は、自分以外の男性たちも効果的なセックスの習慣を身につけれるかもしれない、それらの習慣によってパートナーと一緒にいるときの苦しみを軽減させたり完全に取り除くことができるかもしれない、、という切実な希望を持ちながら書いたものだ。テネシー・ウィリアムズは戯曲「アツいトタン屋根の上の猫」の中で新婚夫婦のベッドについてこう書いている。「もし結婚がうまくいかないのなら、その原因はまさにベッドにある。セックスにあるのだ」 そうだね、それではその原因を取り除いて、シーツの皺をのばそうではないか。

わたしがオーラルセックスに最初にのめりこんだのは、ある種のセックスの不能を埋め合わせるためだった。クンニというのは「リアルセックス」の喜びと感動を享受できない可哀そうな男たちのための次善の策であると思っていた。多くの人と同じように、挿入することこそカップルがオーガズムを経験するための正しいやり方であると当然のように思っていた。しかし、驚いたことに、”クンニ道：Way of Tongue” は挿入にも全然劣らないのである。むしろどちらかといえば、それは挿入よりも優れたものであり、多くの場合、女性にとってクンニというのは、オナニーをすること以外では、オールガズムに達するのに必要な粘り強くリズミカルな刺激を受けるための唯一の方法であるのだということに気付いたのだ。わたしはすぐにオーラル・セックスこそがリアルなセックスであるということを学んだ。そしてのちの人生で偶然、独創的な「女性性についてのハイト・レポート」を読んだとき、女性自身クンニこそがもっともお気に入りで興奮するアクティヴィティであるとみなしていること、そして何度も何度も繰り返しクンニが好きであると言及していることを発見してはホッとしたのだった。快楽に関して言うなら、オールガズムに達するのに正しいやり方も間違ったやり方もない。唯一のまちがったことは、女性は男性よりもオールガズムを必要としていないと仮定したり、オールガズムに価値をおいていないと仮定したりすることである。

セックス・コラムニスト、エイミー・ソンの記事「ただ男であれ：６つのシンプルな提案」の中で、彼女がまさに最初に行ったアドバイスは、「男はクンニポジションへ行け。言い訳するな。ためらうな。」ってことだった。

しかし、一度クンニポジションに達したら、男は何をするべきなのだろう？かなり多くの女性が、クンニ嫌いの男性たち、クンニの仕方を知らない男性たち、もしくはただじゅうぶんにそれをしない男性について不満を述べている。「いい男ってのはみつけるのが難しいのよ。特にゆったりと根気強くクンニしてくれる男っていうのはね。」という趣旨のことを言ったフラネリー・オコナーは正しかった。だけど一度見つけたら、熟練のクンニストはだいたいとてもいい仕事をする。エッセイ「リップサービス：クンニストへの道」の中で、作家でセックス・コラムニストのアンカ・ラダコビッチはオーラルセックスに特化したボーイフレンドのことを讃えている。「わたしはいわゆる舌の虜になったわ。（男がよく言うところのマンコの虜みたいなやつね）そしてもし彼が再び私のところにきて満足させてくれるのなら、彼の衣服を洗濯することさえやぶさかではなかった。2ヶ月後、わたしは自分のデスクに彼の舌の写真を飾っていたのよ」

さて、常識から抜け出して考える時が来たようだ。オーラル・セックスに関して言うなら、「風と共に去りぬ」の中で、レット・バトラーがスカーレットオハラに言った悪名高い「あなたはキスされるべきだよ。しかも頻繁にね。しかもキスの仕方ってのを知ってる誰かにね」というセリフを何度もつぶやいて念頭に置くべきだろう。

わたしのことを知っている人たちは、わたしがかなりプライベートな人間であるということを知っているはずだ。もし自分が心の底からこの本には強い需要があるということを信じていなかったなら、わたしは自分のセックス不能に関する葛藤を世に打ち明けるなんて夢にも思わなかっただろう。これは私が読んできたものや言われてきたこと、そして最も重要なことに、わたしが臨床性科学者として直接体験したこと、を土台にして書いている。女性はクンニを強く望み、楽しんでいるだけではなく、それをまさに必要としているのである。すべてのセックス・セラピストはこう言うだろう、女性から繰り返し繰り返し聞かされる一番の不満は、挿入中にオーガズムを体験できないことだと。解決策は、三文雑誌がよく特集しているように単に”前戯”を増やすことではなくて、むしろ前戯と関連するこれらの活動、つまりオーラルでの刺激全般を、完全に知覚された性愛の行為へと拡張していくことにある。前戯つまりフォアプレイを、奥義つまりコアプレイに変えてしまえばいいのだ。

この本は、＜アンチ挿入本＞ではない。むしろ挿入以外の部分を進化させるといったほうが正しい。挿入を超えたセックスという考え方は男女相互の快楽を受け入れるし、女性の生殖器を刺激してオルガズムに達させることにより適している。わたしの理論は、挿入を排除したりはしない。しかしこう言ってはなんだが、その代わりに、女性が先にイクまでは（そして何度もイクことが好ましい）男性がイクことを先延ばしにすることを推奨している。男性がイクことを先延ばしにするのには2つの利点があって、１つには女性に満足感を与える一方で、男性自身もそれで質の高い絶頂を迎えることもできるのである。この本は、男性がイクことを遅らせることを推奨する。だが快楽を得ることを遅らせることは推奨していない。

この本は、男性と女性双方が、確実にものにできるような素晴らしいセックスへのアプローチ方法を提案する。”0か100か”的なリスクのある従来の挿入セックスは提案しない。そろそろ男女が快楽をかわしあう中でおたがいの溝を埋めて公平になれるような場をつくる時がきたようだ。そしてクンニは、この崇高な目的を達成するための手段をはるかに越えたものである。クンニは新しいセックスのパラダイムのための土台となる行為なのだ。新しいパラダイムの中では、快楽や親密さ、リスペクト、そして満足感などの体験が男女間で共有されることが熱狂的に賞賛される。クンニというのは、男が女に与えうる最も大きなギフトのうちのひとつでもあるということだ。

{% endblock %}