{% extends 'layout.html' %}

{% block main %}
<div class="section container">
	<h3>これまでに翻訳した未公開書籍</h3>
  <p>今まで趣味で翻訳してきた書籍を何冊か紹介します。ちなみに当時はDeepLは存在しておらず作業はすべて人力です。そのうちに電子書籍で公開したいのですが、権利についての認識が曖昧なので少し心配です。詳しい人いらっしゃったら教えてください。</p>
	<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><a href="/12rulesforlife">12 rules for life</a>
            <small>by Jordan B Peterson</small></h5>
          <p class="card-text">現在のDIW（ダークインテレクチュアルウェブ）界隈では避けて通れない心理学者であり臨床家。聴衆を惹きつけて離さない講義をするのでも有名。</p>
          <a href="/12rulesforlife" class="btn btn-primary">詳細を見る</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><a href="">Neil Postman</a></h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">詳細を見る</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><a href="">Foundations of Statistics</a>
            <small>by Leonard J Savage</small></h5>
          <p class="card-text">サヴェッジはベイズ主義の代表。頻度主義者の攻撃に耐えながらベイズ統計の金字塔的な教科書を記した。それが本書である。</p>
          <a href="#" class="btn btn-primary">詳細を見る</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><a href="">She Comes First</a></h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="/shecomesfirst" class="btn btn-primary">詳細を見る</a>
        </div>
      </div>
    </div>
  </div>
  <br>

  <h3>正確には未翻訳だが読了した書籍（あるいはその一部）</h3>
  <p>今まで趣味で翻訳してきた書籍を何冊か紹介します。ちなみに当時はDeepLは存在しておらず作業はすべて人力です。そのうちに電子書籍で公開したいのですが、権利についての認識が曖昧なので少し心配です。詳しい人いらっしゃったら教えてください。</p>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><a href="">Jordan B Peterson</a></h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">詳細を見る</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><a href="">Neil Postman</a></h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">詳細を見る</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><a href="">Python Practice</a></h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">詳細を見る</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock main %}